@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhai 2', cursive;
    background: url(https://lh3.googleusercontent.com/T3I3ji0zbGsLRjlvsphvZcUYEhm_PNLav7K9HSnzmqEP3tKy0aC3Y17084i1Av6AJQU) no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 10px 0 0 0;
}

.img {
    display: flex;
    justify-content: center;
    border-top: 3px solid white;
    border-radius: 50%;
}

.top-icons {
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

.top-icons a{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.top-icons a:hover{
    color: rgb(199, 199, 199);
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

.box {
    width: 85vw;
    height: 92vh;
    position: absolute;
    top: 49%;
    left: 50%; 
    z-index: 10;
    transform: translate(-50%, -50%);
    background:rgba( 199, 206, 209, 0.25 );
    box-shadow:0 8px 32px 0 rgba( 31, 38,135, 0.37 );
    backdrop-filter:blur( 4px );
    -webkit-backdrop-filter:blur( 4px );
    border-radius:10px;
    margin: 10px 0 0 0;
    flex-wrap: wrap;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.top-icons ,.time{
    display: flex;
    justify-content: space-between;
}


.img img{
    margin:21px 10px 30px 10px;
    border-radius: 50%;
    height:15rem;
    width:15rem;
    animation: bent 0.5s linear infinite;
}

@keyframes bent{
    0%{
        border-radius:47%;
    }

    100%{
        border-radius: 50%;
    }
}

.text{
    text-align: center;
}

.text h1{
    font-size:3rem;
}

.text h4{
    font-size:1.32rem;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height:0.2rem;
    border-radius: 5px;
    background: #ececec;
    outline: none;
    opacity:1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(205, 201, 222,1);
    cursor: pointer;
}

.control-buttons{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 0.6rem;
    padding: 11px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.control-buttons a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}


.control-buttons a:active{
    text-decoration: none;
   /* color: #3b3939;*/
    color:rgba(255,255,0,0.1);
    font-size: 1.3rem;
}

 button{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

button{
    font-size: 2.5rem;
    position: relative;
    bottom: 0.6rem;
    background:transparent ;
    margin-top:0.3rem;
    outline:none ;
    border:none;
}
